p,
h1,
h2 {
	color: white;
}

.hero {
	padding: 5rem;
}

.heroHeader {
	display: inline-flex;
	flex-direction: column;
	gap: 0.125em;
}

.heroTitle {
	font-size: 2.5rem;
}

.heroSubtitle {
	font-size: 1rem;
	font-style: italic;
	align-self: center;
}
