p,
h1,
h2 {
	color: var(--text-100);
}

.hero {
	padding: 5rem;
}

.heroHeader {
	display: inline-flex;
	flex-direction: column;
	gap: 0.125em;
}

.heroTitle {
	font-size: 4rem;
}

.heroSubtitle {
	font-size: 2rem;
	font-style: italic;
	align-self: center;
}
