.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 2rem;
	padding: 2rem 5%;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-between;
	color: var(--secondary);
	background-color: var(--background);
}

.headerLogoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.headerNavLinks {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	list-style: none;
}

.headerNavLink {
	font-size: 1.2rem;
	display: inline-block;
	color: white;
}

.headerLogo {
	font-size: 2.5rem;
	cursor: default;
	color: white;
}

.headerSubtitle {
	font-size: 1.2rem;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0.2ch;
}
