.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 2rem;
	padding: 2rem 5%;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: var(--secondary);
	background-color: var(--background);
}

.primaryNavBar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	list-style: none;
}

.headerNavLink {
	position: relative;
	color: white;
	font-size: 1.25rem;
	display: inline-block;
	padding: 0.625rem;
	border-radius: 10%;
}

.headerNavLink::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	z-index: -1;
	background-color: var(--accent);
	transition: 0.5s;
}

.headerNavLink:hover::before {
	width: 100%;
}

.headerLogo {
	font-size: 2.5rem;
	cursor: default;
	padding-left: 1em;
	color: white;
}

.hamburger {
	position: absolute;
	font-size: 2rem;
	color: white;
	line-height: 2rem;
	margin-right: 3rem;
	z-index: 9999;
	top: 2rem;
	right: 2rem;
	display: none;
}

.checkbox {
	display: none;
}

@media screen and (width <= 25.75em) {
	.headerLogo {
		font-size: 0.625rem;
		padding-left: 0.425em;
	}
}

@media screen and (26em <= width <= 50em) {
	.headerLogo {
		font-size: 2rem;
		padding-left: 0.625em;
	}
}

@media screen and (width <= 60em) {
	.hamburger {
		display: block;
	}

	.primaryNavBar {
		position: fixed;
		inset: 0 0 0 60%;
		display: flex;
		z-index: 1000;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--primary);
		transform: translateX(100%);
		transition: transform 350ms ease-out;
	}

	.primaryNavBar[data-showsidebar='true'] {
		transform: translateX(0%);
	}
}
