/* makes sizing simpler */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font: inherit;
}

html {
	background-color: var(--background-color);
}

/* responsive images/videos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

:root {
	--main-color: #2c3e50;
	--background-color: #181b25;
}
