:root {
	--background: #232831;
	--text-100: #fbebd5;
	--neutral-grey: #717578;
	--primary: #fcd067;
}

/* makes sizing simpler */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font: inherit;
}

html {
	background-color: var(--background);
}

/* responsive images/videos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

:root {
	--mobile-width: 25.75em;
}
